<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <span style="color: var(--primary-dark); font-size: 36px; font-weight: bold;">{{ site.title }}</span>
        <div style="padding-top: 10px"></div>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" style="width:80%; display: block; margin-left: auto; margin-right: auto;"/>
        {% endif %}
        
        <br>
        Quantum computing Ph.D. student
        <br>

        <span style="font-weight:600">University of Chicago</span>

        <div style="padding-top: 10px"></div>
        jchadwick@uchicago.edu
        <div style="padding-bottom: 20px"></div>
        <hr>

        {% for link in site.mylinks %}
          <a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">{{ link.name }}</a>
          <div style="padding-top: 10px"></div>
        {% endfor %}
        
      </header>
      <section>
        <div style="padding-top: 10px"></div>
        {{ content }}
      </section>
      <footer>
        <p><small>© Jason Chadwick 2023</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>