<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" style="background-color: var(--bg);">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#4f6ab5">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <script>
      MathJax = {
        loader: {load: ['[tex]/physics']},
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          packages: {'[+]': ['physics']}
        }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/#top"><span style="color: var(--primary-dark); font-size: 38px; font-weight: bold;">Jason Chadwick</span></a>
        <div style="padding-top: 10px"></div>
        {% if site.homepic %}
          <a href="/#top"><img src="{{site.homepic | relative_url}}" class="centered" alt="Jason D. Chadwick" style="width:100%;"/></a>
        {% endif %}
        
        <br>
        Quantum computing Ph.D. student
        <br>

        <span style="font-weight:600">University of Chicago</span>

        <div style="padding-top: 10px"></div>
        jchadwick@uchicago.edu
        <div style="padding-bottom: 20px"></div>
        <hr>

        {% for link in site.mylinks %}
          <!-- <a class="no-uline highlight" href="{{ link.link }}" target="_blank" rel="noopener noreferrer">
            {{ link.name }}
          </a> -->
          <a href="{{ link.link }}" target="_blank" rel="noopener noreferrer" style="font-weight: 600;">{{ link.name }}</a>
          <div style="padding-top: 10px"></div>
        {% endfor %}
        
      </header>
      <section>
        <div class="small-screen" id="page-top"></div>
        <div style="padding-top: 10px"></div>
        {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>