<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/mathjax-config.js" defer></script>
    <script type="text/javascript" id="MathJax-script" defer
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><span style="color: var(--primary-dark); font-size: 38px; font-weight: bold;">{{ site.title }}</span></a>
        <div style="padding-top: 10px"></div>
        {% if site.logo %}
          <a href="/"><img src="{{site.logo | relative_url}}" class="centered" alt="Jason Chadwick" style="width:100%;"/></a>
        {% endif %}
        
        <br>
        Quantum computing Ph.D. student
        <br>

        <span style="font-weight:600">University of Chicago</span>

        <div style="padding-top: 10px"></div>
        jchadwick@uchicago.edu
        <div style="padding-bottom: 20px"></div>
        <hr>

        {% for link in site.mylinks %}
          <a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">{{ link.name }}</a>
          <div style="padding-top: 10px"></div>
        {% endfor %}
        
      </header>
      <section>
        <div class="only-on-mobile" id="page-top"></div>
        <div style="padding-top: 10px"></div>
        {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>