---
layout: default
---
    <h1>About</h1>
    <hr>
    {{ content }}

    {% for section in site.sections %}
    <h1>{{ section.name }}</h1>
    <hr>

    {% if section.name == "Research" %}
    * denotes equal contribution
    <div style="padding-top: 10px"></div>
    {% endif %}

    {% for paper in section.items %}

    {% for item in paper.items %}
        {% if item.name == "project" or item.name == "page" %}
            {% assign projectlink = item.link %}
        {% endif %}
    {% endfor %}

    <div>
      <div style="float: left; width: 35%; display: block; padding-top:7px">
          <a href="{{ projectlink }}">
            <img src="{{ paper.img }}" alt="Project image" class="floating-img" style="width:100%">
        </a>
      </div>
      <div style="float: right; width: 60%; padding-top:0px">
        <span style="font-weight: bold; font-size:larger;">{{ paper.title }}</span>
        <br>
        {% if paper.publisher %}
          <span style="font-style: italic; color:var(--text-lighter); font-size:20px; font-weight: 500;">{{ paper.publisher }}</span>
          <br>
        {% endif %}

        
        {% for author in paper.authors %}
          {% if author == paper.authors.last %}
            {% if author.link %}
                and <a class="no-color" href="{{ author.link }}" target="_blank" rel="noopener noreferrer">{{ author.name }}</a>
            {% else %}
                {{ 'and ' | append: author.name }}  
            {% endif %}
          {% else %}
            {% if author.link %}
                <a class="no-color" href="{{ author.link }}" target="_blank" rel="noopener noreferrer">{{ author.name }}</a>,
            {% else %}
                {{ author.name }},
            {% endif %}
          {% endif %}
        {% endfor %}

        <div style="padding-top: 10px"></div>

        {% if paper.pdf-link %}
        <span class="highlight">
          <a href="{{ paper.pdf-link }}" target="_blank" rel="noopener noreferrer">
            pdf
          </a>
        </span>
        {% endif %}

        {% for item in paper.items %}
            {% if item.name == "project" or item.name == "page" %}
            <a class="no-uline highlight" href="{{ item.link }}">
                {{ item.name }}
            </a>
            {% else %}
            <a class="no-uline highlight" href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
                {{ item.name }}
            </a>
            {% endif %}
        {% endfor %}

        <div style="padding-top: 10px"></div>

        {{ paper.short }}
      </div>
    </div>
    <div style='clear:both; padding-top: 30px'></div>
    {% endfor %}
    {% endfor %}
