---
layout: default
---
    <h1>About</h1>
    <hr>
    {{ content }}

    {% for section in site.sections %}
      <h1>{{ section.name }}</h1>
      <hr>

      {% for project in section.items %}
        <div>
          <div class="project-homepage-img">
            {% if project.imglink contains "http" %}
              <a href="{{ project.imglink }}/#page-top" target="_blank" rel="noopener noreferrer">
            {% else %}
              <a href="{{ project.imglink }}">
            {% endif %}
              <img src="{{ project.img }}" alt="Project image" class="floating-img" style="width:100%">
            </a>
          </div>
          <div class="project-homepage-content">
            {% if project.award %}
              <span style="color:var(--primary-dark); font-weight: 500;">{{ project.award }}</span>
              <br>
            {% endif %}
            <span id="{{ project.title }}" style="font-weight: bold; font-size:larger; color:var(--header)">{{ project.title }}</span>
            <br>
            {% if project.publisher %}
              <span style="font-style: italic; color:var(--text-lighter); font-weight: 500;">{{ project.publisher }}</span>
              <br>
            {% endif %}

            {% assign num_authors = project.authors | size %}
            {% for author in project.authors %}
              {% if author == project.authors.last %}
                {% if author.link %}
                    and <a class="no-color" href="{{ author.link }}" target="_blank" rel="noopener noreferrer">{{ author.name }}</a>
                {% else %}
                    {{ 'and ' | append: author.name }}  
                {% endif %}
              {% else %}
                {% if author.link %}
                    <a class="no-color" href="{{ author.link }}" target="_blank" rel="noopener noreferrer">{{ author.name }}</a>{% if num_authors > 2 %},{% endif %}
                {% else %}
                    {{ author.name }}{% if num_authors > 2 %},{% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}

            <div style="padding-top: 5px"></div>

            {% for item in project.items %}
              
              {% if item.name == "project" or item.name == "page" or item.name == "coming soon" %}
                <!-- <a class="no-uline highlight" href="{{ item.link }}/#page-top">
                    {{ item.name }}
                </a> -->
                <a class="no-uline" href="{{ item.link }}" style="font-weight: 600;">[{{ item.name }}]&nbsp;&nbsp;</a>
                {% else %}
                <!-- <a class="no-uline highlight" href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
                    {{ item.name }}
                </a> -->
                <a class="no-uline" href="{{ item.link }}" target="_blank" rel="noopener noreferrer" style="font-weight: 600;">[{{ item.name }}]&nbsp;&nbsp;</a>
              {% endif %}
                
            {% endfor %}

            <div style="padding-top: 5px"></div>

            {{ project.short }}
            {% if project.extra %}
              <hr style="height:5px; visibility:hidden;" />
              {{ project.extra }}
            {% endif %}
          </div>
        </div>
        <div style='clear:both; padding-top: 30px'></div>
      {% endfor %}
    {% endfor %}
