---
layout: default
---

<a href="/">← back to home</a>

<div style="padding-top:10px"></div>
<div style="background:#ddd; padding: 20px 20px 15px 20px; border-color: var(--primary-dark); border-width: 2px; border-radius: 10px;">

  <h1 style="text-align:center">{{ page.title }}</h1>
  <h4 style="text-align:center; color:var(--primary-dark); font-weight: bold;">{{ page.publisher }}</h4>

  <img src="{{ page.image }}" alt="{{ page.title }}" class="centered floating-img" style="width:60%">

  <div style="padding-top:20px"></div>

  {% assign num_authors = page.authors | size %}
  <div id="equal-space-container" class="centered" style="width:{% if num_authors >= 3 %}100%{% else %}60%{% endif %}; background: #ddd;">
  {% for author in page.authors %}
    <div style="width: 280px; text-align: center">
      {% if author.link %}
        <a class="no-color" style="text-decoration: underline; font-weight: bold;" href="{{ author.link }}" target="_blank" rel="noopener noreferrer">{{ author.name }}</a>
      {% else %}
        <span style="font-weight: bold;">{{ author.name }}  </span>
      {% endif %}
      <br>
      {{ author.affiliation }}
      <div style="padding-top:10px"></div>
    </div>

    {% if forloop.index0 == 2 or forloop.index0 == 5 %}
      </div>
      <div style='clear:both;'></div>
      {% assign num_authors = num_authors | minus:3 %}
      <div id="equal-space-container" class="centered" style="width:{% if num_authors >= 3 %}100%{% else %}60%{% endif %}; background: #ddd;">
    {% endif %}
  {% endfor %}
  </div>
  <div style='clear:both; padding-top: 30px'></div>

  {% if page.abstract %}
    <h2>Abstract</h2>
    <hr>
    {% capture abs %}{% include_relative {{ page.abstract }} %}{% endcapture %}
    {{ abs | markdownify }}
  {% endif %}

  {% for item in page.items %}
      {% if item.name == "project" %}
      <a class="no-uline highlight" href="{{ item.link }}">
          {{ item.name }}
      </a>
      {% else %}
      <a class="no-uline highlight" href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
          {{ item.name }}
      </a>
      {% endif %}
  {% endfor %}
  <div style="padding-top:10px"></div>

</div>

<div style="padding-top:10px"></div>

{% if page.figures %}
  <h2>Selected Figures</h2>
  <hr>
  {% for fig in page.figures %}
    <div style="padding-top:30px"></div>
    <img src="{{ fig.file }}" alt="{{ fig.file }}" class="centered floating-img" style="width:{% if fig.width %}{{ fig.width }}{% else %}70%{% endif %}">
    <div style="padding-top:10px"></div>
    <div style="text-align:center">
    {% capture caption %}{% include_relative {{ fig.caption }} %}{% endcapture %}
    {{ caption | markdownify }}
  </div>
  {% endfor %}
{% endif %}

{{content}}

<a href="/">← back to home</a>
